* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: auto;
}

body {
    height: 100%;
    width: auto;

    margin: 0;
    padding: 0;
}

.main {
    height: 100%;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header, .taskList, .tasksDisplay {
    margin: 5px;
    padding: 20px;

    border: 1px solid black;
    border-radius: 12px;
}

.header {
    grid-column: 1 / span 2;
}

.taskList {

}

.tasksDisplay {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 150px);
    gap: 20px;
}

.tasksDisplay.singleTask {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.taskDetails {
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.taskDetails > h1, p {
    width: 100%;

    margin: 0;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons {
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.taskCard {
    margin: 0;
    padding: 10px;

    border: 1px solid black;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taskCard > * {
    margin: 0;
    padding: 5px;
}

.taskCard:hover {
    border: 2px solid blue;
}